[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

librosa = "*"
matplotlib = "*"
numpy = "*"
"eyed3" = "*"
dtw = "*"
flask = "*"
flask-sqlalchemy = "*"
jsonify = "*"
mido = "*"
flask-cache = "*"


[dev-packages]

